
<!--<footer class="page-footer dark" style="bottom:0">-->
    <!--<div class="footer-copyright">-->
        <!--<p>© 2019 by the Hellenic American Hippocratic Orthopaedic Society</p>-->
    <!--</div>-->
<!--</footer>-->
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>-->
<!--<script src="assets/js/smoothproducts.min.js"></script>-->
<!--<script src="assets/js/theme.js"></script>-->
<!--</body>-->

<footer class="page-footer dark position-absolute" style="bottom:0; left:0;right:0;">
    <div class="footer-copyright">
        <p>© 2019 by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>