<!DOCTYPE html>
<html>
<head>
    <title> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- --------------->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--= = = = = =-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="stylesheet" href="/stylesheets/form.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <!--  for auto complete         - - - - - -->
    <link rel="stylesheet" href="/stylesheets/css/awesomplete.css"/>
    <script src="/js/awesomplete.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Libre+Barcode+39+Text|Righteous" rel="stylesheet">

    <!-- - - - - - - -->

</head>

<body>