<!DOCTYPE html>
<html>
<title></title>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.1/css/mdb.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet"-->
    <!--          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">-->
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">-->
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">-->
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">-->
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">-->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <!--    <link rel="stylesheet" href="assets/css/styles.min.css">-->
    <link rel="stylesheet" href="stylesheets/statics.css">
    <link rel="stylesheet" href="stylesheets/about.css">
    <link rel="stylesheet" href="stylesheets/landing.css">


    <link href="https://fonts.googleapis.com/css?family=Aclonica&display=swap" rel="stylesheet">

    <!--  for auto complete         - - - - - -->
    <link rel="stylesheet" href="stylesheets/css/awesomplete.css"/>
    <script src="/js/awesomplete.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Libre+Barcode+39+Text|Righteous"
          rel="stylesheet">
    <!-- - - - - - - -->


</head>
<body class="">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar shadow-sm text-center">
    <div class="container float-left">
        <a class="navbar-brand logo" href="/"><img src="assets/img/greek-pillar2.png"></a>
        <button data-toggle="collapse" class="navbar-toggler text-primary" data-target="#navcol-1">
            <span class="sr-only ">Toggle navigation</span>
            <div class="animated-icon1 "><span></span><span></span><span></span></div>
            <!--            <span class="navbar-toggler-icon"></span>-->
        </button>

        <div class="collapse navbar-collapse btn-group " id="navcol-1">
            <ul class="nav navbar-nav m-auto">

                <li class="" role="presentation">
                    <a href="/" class="nav-link">
                        <button class='btn btn-sm  btn-cyan  '>
                            <img class="home-icon" src="assets/img/home1.png" width="20"><strong
                                    class="text-link home-link">Home</strong>
                        </button>
                    </a>
                </li>
                <li class=" " role="presentation">
                    <a href="/about" class="nav-link ">
                        <button class='btn btn-sm  btn-cyan  '>
                            <img class="about-icon" src="assets/img/about.png" width="16"><strong
                                    class="text-link  about-link">About</strong>
                        </button>
                    </a>
                </li>
                <li class="" role="presentation"><a href="/members" class="nav-link ">
                        <button class='btn btn-sm  btn-cyan  '>
                            <strong class="text-link members-link"><img class="members-icon"
                                                                        src="assets/img/membership.png" width="18">Members</strong>
                        </button>
                    </a>
                </li>
                <li class="" role="presentation"><a href="/contact" class="nav-link">
                        <button class='btn btn-sm  btn-cyan  '>
                            <strong class="text-link contact-link"><img class="members-icon"
                                                                        src="assets/img/contact.png" width="18">Contact
                                us</strong>
                        </button>
                    </a>
                </li>
                <li class="" role="presentation">
                    <a href="/hippocrates" class="nav-link ">
                        <button class='btn btn-sm  btn-cyan  '>
                            <strong class="text-link Hippocrates-link"><img class="members-icon"
                                                                            src="assets/img/hippo.png" width="18">Hippocrates</strong>
                        </button>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav m-auto">
                <li class="m-auto" role="presentation"><a href="/posts" class="nav-link active">
                        <span class="text-primary">
                                <button class='btn btn-sm btn-orange  '>
                                    <strong class="text-link">
                                       <img class="members-icon" src="assets/img/case.png" width="18">My Orthopedic Case
                                    </strong>
                                </button>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
