<% include ./partials/headStatics %>

<main class="page  m-auto row" style="max-width: 1100px;">
    <section class="col-6">


    <h1>About</h1>
    <h3 class="text-muted">History</h3>
    <p>The Hippocratic Orthopaedic Society was founded in 1973
        by Drs Tsakalis (Virginia), Tambakis (NYC) and Christidis
        (Philadelphia). The only living founding member currently is Dr Tambakis. The first president
        of the society was Dr Christidis and the first meeting took place during the AAOS meeting in Las Vegas.
        Dr Christidis remained president for 4 years and then Dr Tambakis was appointed President for 17 years.
        Subsequently, Dr Kassapidis (NYC) served as president for one year followed by Dr Sakellaridis (Boston)
        and Dr Xethalis (NYC).  There was a period of inactivity of the society for about 6 years, until 2019.
        In 2019 in Las Vegas NV during the AAOS meeting the society held a meeting again under the direction of
        Dr Papadonikolakis (NC) and Dr Tambakis (NYC). </p>
    <p>During its existence the society had 40 active Greek American orthopaedic surgeons living and practicing
        in the USA and it is the first foreign ethnic group to have registered with the American Academy of
        Orthopaedic Surgeons. </p>
    <p>Since 1996 the Hippocratic Orthopaedic Society is a Not-for-profit Corporation registered with the Department
        of State in the state of New York</p>
    </section>
    <section class="col-1 "></section>
    <section class="col-5 mt-lg-5  float-right">
    <h3 class="mt-lg-5 "><strong>Governance</strong></h3>
        <ul>
            <li>Interim President: Anastasios Papadonikolakis, MD (Wake Forest University, NC)  </li>
            <li> Vice President: Loukia Papatheodorou, MD (University of Pittsburgh PA)  </li>
            <li> Secretary: Periklis Papapetropoulos, MD (University of Pittsburgh PA)  </li>
            <li> Treasurer: Apostolos Dimitroulias, MD (Albert Einstein College of Medicine, NY</li>
            <p></p>
            <p><strong>Ex-Officio Members from the Hellenic Association of Orthopaedic Surgery and Traumatology:</strong></p>
                <li>
                    President Professor Panayiotis J. Papagelopoulos, MD, DSc, FACS
                </li>
                <li> Vice President Athanasios Kostakos</li>


        </ul>




    </section>


</main>


<% include ./partials/footerStatics %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="assets/js/script.min.js"></script>

</html>