<% include ./partials/headStatics %>

<main class="page" >
    <section class="">
        <h1>About</h1>
        <h3 class="text-muted">History</h3>
        <p>The Hippocratic Orthopaedic Society was founded in 1973
            by Drs Tsakalis (Virginia), Tambakis (NYC) and Christidis
            (Philadelphia). The only living founding member currently is Dr Tambakis. The first president
            of the society was Dr Christidis and the first meeting took place during the AAOS meeting in Las Vegas.
            Dr Christidis remained president for 4 years and then Dr Tambakis was appointed President for 17 years.
            Subsequently, Dr Kassapidis (NYC) served as president for one year followed by Dr Sakellaridis (Boston)
            and Dr Xethalis (NYC). There was a period of inactivity of the society for about 6 years, until 2019.
            In 2019 in Las Vegas NV during the AAOS meeting the society held a meeting again under the direction of
            Dr Papadonikolakis (NC) and Dr Tambakis (NYC). </p>
        <p>During its existence the society had 40 active Greek American orthopaedic surgeons living and practicing
            in the USA and it is the first foreign ethnic group to have registered with the American Academy of
            Orthopaedic Surgeons. </p>
        <p>Since 1996 the Hippocratic Orthopaedic Society is a Not-for-profit Corporation registered with the Department
            of State in the state of New York</p>
    </section>

    <h3 class="text-muted "><strong>Governance:</strong></h3>

    <!-- Portfolio Gallery Grid -->
    <div class="row ">
        <div class="column bg-light">
            <div class="content bg-light">
                <img src="../assets/img/anastasios.jpg" alt="Anastasios" style="width:80% ">
                <br><br> <strong><h3>Interim President</h3></strong>
                <p>Anastasios Papadonikolakis<br>MD<br> (Wake Forest University, NC) </p>
            </div>
        </div>
        <div class="column">
            <div class="content bg-light">
                <img src="../assets/img/Loukia.jpg" alt="Loukia" style="width:80%">
                <strong><h3>Vice President</h3></strong>
                <p>Loukia Papatheodorou<br>MD<br> (University of Pittsburgh PA) </p>
            </div>
        </div>
        <div class="column">
            <div class="content bg-light">
                <img src="../assets/img/Periklis.jpg" alt="Periklis" style="width:80%">
                <br><br> <strong><h3>Secretary</h3></strong>
                <p>Periklis Papapetropoulos<br>MD<br>(University of Pittsburgh PA) </p>
            </div>
        </div>
        <div class="column">
            <div class="content bg-light">
                <img src="../assets/img/Apostolos.jpg" alt="Apostolos" style="width:80%">
                <br><br><br> <br><strong><h3>Treasurer</h3></strong>
                <p>Apostolos Dimitroulias<br>MD<br>(Albert Einstein College of Medicine, NY) </p>
            </div>
        </div>

        <h3 class="text-muted "><strong>Ex-Officio Members from the Hellenic Association of Orthopaedic Surgery and
                Traumatology:</strong></h3>

        <div class="column">
            <div class="content bg-light">
                <img src="../assets/img/Panagiotis.jpg" alt="Apostolos" style="width:80%">
                <br><br><br> <br><strong><h3>President, Professor</h3></strong>
                <p>Panayiotis J. Papagelopoulos<br>MD , DSc<br> FACS </p>
            </div>
        </div>

        <div class="column">
            <div class="content bg-light">
                <img src="../assets/img/avatar.png" alt="Apostolos" style="width:80%">
                <br><br><br> <br><strong><h3>Vice President</h3></strong>
                <p>Athanasios Kostakos </p>
            </div>
        </div>

        <!-- END GRID -->
    </div>



</main>


<script>document.querySelector('.about-link').style.color = "black"</script>
<script>document.querySelector('title').innerText = "About"</script>

<% include ./partials/footerStatics%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="assets/js/script.min.js"></script>
</body>
</html>