<% include ./partials/headStatics %>
<main class="page contact-us-page mt-n4">
    <section class="clean-block clean-form dark ">
        <div class=" text-center">
            <h2 class="text-info">Contact Us</h2>
            <p class="m-auto" style="max-width: 500px;">For general questions regarding the society and services please use the form below: </p>
        </div>
        <!--apapado@wakehealth.edu-->
        <form class="hover" action="/contact" method="post" role="form">
            <div class="form-group "><input class="form-control hover " type="text" placeholder="Name" name="name" required></div>
            <div class="form-group"><input class="form-control hover" type="text" placeholder="Subject" name="subject" required></div>
            <div class="form-group"><input class="form-control hover" type="email" placeholder="email" required name="email"></div>
            <div class="form-group"><label>Message</label><textarea class="form-control hover" name="message" required></textarea></div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
        </form>

        <br> <br>
        <div class=" shadow container" style="max-width: 500px; margin:auto">
            <br>
            <div class="text-center">
                <h3 class="text-info">Our Address</h3>

                <p>1 Medical Center Blvd, Department of Orthopaedic Surgery
                    Wake Forest University Medical Center<br>
                    Attn: Anastasios Papadonikolakis, MD, PhD
                    Winston Salem, NC 27157 apapado@wakehealth.edu
                </p>
            </div>
            <hr>
            <div class="text-center">
                <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.1512728417874!2d-80.27075368445293!3d36.08980031506293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8853ae2eeafa2e9d%3A0xf9db1333705c425a!2sWake+Forest+Baptist+Health!5e0!3m2!1sen!2sus!4v1556310753615!5m2!1sen!2sus"
                        frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
</main>

<script>document.querySelector('.contact-link').style.color = "black"</script>
<script>document.querySelector('title').innerText = "Contact Us"</script>

<% include ./partials/footerStatics2 %>
