<% include ./partials/headStatics %>

<div class="jumbotron text-center">
    <p class="lead"><strong>Something went wrong ...</strong></p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>