<% include ./partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>
        <div>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a id="sign-up" class="btn btn-outline-deep-orange btn-sm waves-effect waves-light"
                       href="/register"
                       role="button">
                        <span class=" d-lg-inline-block mr-1">sign up</span>
                        <i class="fas fa-user-plus "></i>
                    </a>
                </div>
        </div>
    </div>
</nav>


<main class="page login-page ">

    <% if (typeof message != "undefined"){ %>
        <div class="container-message text-center flash" style="z-index: 2;">
            <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <% } %>



    <div class="container-form m-auto p-2">
        <div class="block-heading">
            <p id="" class="text-black-50 text-center">Login to Add Posts and Comments</p>
        </div>
        <form class="shadow" action="/login" method="post" role="form">

            <!--Header-->
            <div class="modal-header btn-cyan darken-3 white-text shadow">
                <h4 class="title"><i class="fas fa-pencil-alt"></i> Login form</h4>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <div class="md-form form-sm">
                    <i class="fas fa-user prefix "></i>
                    <input type="text" id="form8" class="form-control" name="username" required>
                    <label for="form8" class="active">Your Username</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fas fa-lock prefix "></i>
                    <input type="password" id="form9" class="form-control" name="password" required>
                    <label for="form9" class="active">Your password</label>
                </div>


                <div class="text-center mt-1-half">
                    <button class="btn btn-block mb-2 waves-effect waves-light deep-purple darken-3 white-text">Submit <i class="fas fa-send ml-1"></i>
                    </button>
                </div>

                <div class="row">
                    <div class="col-6">
                    Not a member? <a href="/register" class="text-dark">
                        <strong class=" "> <span class="text-primary ">Sign Up</span>
                        </strong>
                    </a>
                    </div>

                    <div class="col-6">

                        <a href="/forgot"> Forgot your password?</a>
                    </div>

                </div>

            </div>
            <!--/.Content-->
        </form>
    </div>
</main>

<footer class="page-footer black position-fixed text-center" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© <%=new Date().getFullYear() %> by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>


<script>document.querySelector('title').innerText = "Login to Info Share"</script>
</body>
</html>