<% include ./partials/headStatics %>
<!DOCTYPE html>
<html>
<head>
    <title>afterglow player</title>
    <script src="//cdn.jsdelivr.net/npm/afterglowplayer@1.x"></script>
</head>
<body>
<video class="afterglow" id="myvideo" width="960" height="540" data-youtube-id="5jidaSuRVKw"></video>
</body>
<html>



<script>document.querySelector('.ortho-case').style.color = "black"</script>
<script>document.querySelector('title').innerText = "My Case"</script>

<% include ./partials/footerStatics%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="assets/js/script.min.js"></script>

</html>