<% include ./partials/headInfoShare %>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/"><img src="assets/img/logo-hp.png" style="height: 40px;width: 45px;"></a>

        <button data-toggle="collapse" class="navbar-toggler " data-target="#navcol-1">
            <span class="sr-only ">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav m-auto">
                <li class="nav-item " role="presentation">
                    <a class="nav-link  home-link" href="/posts"><strong class="text-link "><i class="fas fa-home "> </i> All Posts</strong></a></li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/login">
                        <strong class="text-link about-link">Already a User ? <span class="text-primary">Login</span></strong><br></a></li>
            </ul>
        </div>
    </div>
</nav>


<main class="page register-page">

    <% if (typeof message != "undefined"){ %>
        <div class="container-message text-center flash" style="z-index: 2">
            <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <% } %>


    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 id="header-form" class="text-info">Register to Info Share</h2>
            </div>
            <form id="signUp" class="" action="/register " method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" id="username" name="username" type="text" placeholder="username" required></div>
                <div class="form-group">
                    <input class="form-control" id="pass" name="password" type="password" placeholder="password" required minlength="6"></div>
                <div class="form-group">
                    <input class="form-control" id="email" name="email" type="email" placeholder="email" required></div>

                <div class=" form-group ">
                    <label for="files" class="btn btn-outline-secondary btn-sm">Select Image Avatar</label><small><span id="url" class="ml-2"></span></small>
                          <input id='files' type="file"  class="d-none" name="image" accept="image/*" required ></div>

                <div class="form-group">
                    <button id='btn' class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </section>
</main>

<footer class="page-footer dark position-absolute" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© 2019 by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>


<script>
   // show to the user that the image is required
    document.querySelector('#btn').addEventListener('click', (event) => {
        if(document.querySelector('#username').value!==''&&
            document.querySelector('#pass').value!==''&&
            document.querySelector('#email').value!==''){

            if(document.querySelector('#files').value===''){
                alert('please enter an image avatar')
            }
        }
    });
    // add the text of the selected file next to 'select image'
    document.querySelector('#files').addEventListener('change', (event) => {
        let url = document.querySelector('#files').value;
         document.querySelector('#url').innerHTML = url.substring(url.lastIndexOf('\\')+1);

    });


</script>
<script>document.querySelector('title').innerText = "Sign Up Info Share"</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>