<% include ./partials/header %>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form action="/posts" method="GET" class="form-inline my-2 my-lg-0">
    <input id="tags" class="awesomplete form-control mr-sm-2 "
           name="search" type="text" placeholder="Search"
           data-list="">
    <button class="btn btn-primary my-2 my-sm-0" value="Search" type="submit"><i class="fas fa-search "></i></button>
</form>

</div>

</nav>

<% include ./partials/flsh %>

<% if (typeof message != "undefined"){ %>
    <div class="container-message text-center flash ">
        <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
<% } %>

<div class="container-form bg-white p-0  mx-auto hover2  border-top border-primary ">
    <table class="table table-borderless ">
        <tr>
            <tbody class="p-0">
            <form id="signUp" class="" action="/register " method="POST" enctype="multipart/form-data">
                <div class="text-center pt-2">
                    <h2 class="d-inline fadeIn "> Sign Up </h2>
                </div>

                <div class="card-body">
                    <div class="col-md-12 mx-auto ">

                        <div class="hover form-group mt-2">
                            <input type="text" id="username" class="form-control" name="username" required >
                            <label class="form-control-placeholder" for="username">username</label>
                        </div>

                        <div class="hover form-group ">
                            <input type="password" id="password" class="form-control" name="password" required minlength="6">
                            <label class="form-control-placeholder " for="password">password</label>
                        </div>

                        <div class="hover form-group ">
                            <input type="text" id="firstName" class="form-control" name="firstName" required>
                            <label class="form-control-placeholder " for="firstName">first name</label>
                        </div>

                        <div class="hover form-group ">
                            <input type="text" id="lastName" class="form-control" name="lastName" required>
                            <label class="form-control-placeholder " for="lastName">last name</label>
                        </div>

                        <div class=" form-group">
                            <i class="fa fa-2x fa-image text-right text-primary"><small> </small>
                                <small class=" pr-5 form-control-placeholder" style="font-family: 'Helvetica Neue',serif; font-size: .5em; color:black">
                                    <input type="file"  class="" name="image" accept="image/*" required>
                                </small>
                            </i>

                        </div>
                        <div class="hover form-group ">
                            <input type="text" id="city" class="form-control" name="city" required>
                            <label class="form-control-placeholder " for="city">city</label>
                        </div>

                        <div class="hover form-group ">
                            <input type="email" id="email" class="form-control" name="email" required>
                            <label class="form-control-placeholder " for="email">email</label>
                        </div>

                        <div class="form-group row mb-lg-n2">

                            <div class="text-center col-3 ml-n1">
                                <button id="sbmt" class=" btn btn-primary">submit</button>
                            </div>

                            <div class="d-inline text-center  col-2 mt-1 ">
                                <div id="loading" class="d-inline "></div>
                            </div>
                            <div class="col mr-0">
                                <span><small>already user</small></span> <a href="login" class="text-decoration-none">
                                    login</a>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
            </tr>
            <tr class="bg-light ">
                <div class="back-grey text-decoration-none "></div>
            </tr>

            </tbody>
    </table>
</div>

<script>document.querySelector('title').innerText = "Sign Up Info Share"</script>
<% include ./partials/footer %>