<% include ./partials/headInfoShare %>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light clean-navbar ">
    <div class="container"><a class="navbar-brand logo " href="/"><img src="/assets/img/logo-hp.png"
                                                                       style="height: 40px;width: 45px;"></a>
        <h3 class="title-mobile letter-spacing mt-2 text-black ">Reset Password</h3>
        <button data-toggle="collapse" class="navbar-toggler " data-target="#navcol-1">
            <span class="sr-only ">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <div class="options d-flex justify-content-between align-items-center mr-auto">
                <div class="btn-group">
                    <a href="/login">
                        <button type="button" class="btn btn-sm btn-outline-success mr-2">
                            <i class="fa fa-sign-in fa-lg"></i>Log In
                        </button>
                    </a>
                    <a href="/register">
                        <button type="button" class="btn btn-sm btn-outline-primary ">
                            <i class="fas fa-user-plus"></i>Sign Up
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<% include ./partials/flsh %>


<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading mt-1">
                <h2 class="text-info title-desktop">Reset Password</h2>
                <p class="m-auto" style="max-width: 500px;">Please enter your new password</p>
            </div>
            <form action="/reset/<%= token %>" method="POST">
                <div class="form-group">
                    <input type="password" name="password" required minlength="6" placeholder="New password" autofocus="autofocus" class="form-control"/></div>
                <div class="form-group">
                    <input type="password" name="confirm" required placeholder="Confirm password" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Update Password</button>
                </div>
            </form>
        </div>
    </section>
</main>
<% include ./partials/footerStatics %>