<% include ../partials/headInfoShare %>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light clean-navbar ">
    <div class="container"><a class="navbar-brand logo " href="/"><img src="/assets/img/logo-hp.png"
                                                                       style="height: 40px;width: 45px;"></a>
        <h3 class="title-mobile letter-spacing mt-2 text-black ">MY PROFILE</h3>
        <button data-toggle="collapse" class="navbar-toggler " data-target="#navcol-1">
            <span class="sr-only ">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <% if(!currentUser){ %>
                <div class="options d-flex justify-content-between align-items-center mr-auto">
                    <div class="btn-group">
                        <a href="/login">
                            <button type="button" class="btn btn-sm btn-outline-success mr-2">
                                <i class="fa fa-sign-in fa-lg"></i>Log In
                            </button>
                        </a>
                        <a href="/register">
                            <button type="button" class="  btn btn-sm btn-outline-primary">
                                <i class="fas fa-user-plus"></i>Sign Up
                            </button>
                        </a>
                    </div>
                </div>
                <h3 class="title-desktop letter-spacing mt-2 text-black ">MY PROFILE</h3>
            <% } else { %>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item m-2">
                        <a href="/logout">
                            <button type="button" class="small-font mt-1 btn btn-sm btn-outline-warning">
                                <i class="fa fa-sign-out fa-lg"></i>Log out
                            </button>
                        </a>
                    </li>
                    <div class="options d-flex justify-content-between align-items-center mr-auto mt-1">
                        <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary mr-2 "
                             style="background-image:url('<%= currentUser.avatar %>');"></div>
                        <div class="btn-group">
                            <a href="/posts">
                                <button type="button" class="small-font btn btn-sm btn-outline-secondary">
                                    <i class="fa fa-home fa-lg"></i>Home
                                </button>
                            </a>
                            <a href="/posts/new">
                                <button type="button" class="small-font btn btn-sm btn-outline-success">New Post
                                </button>
                            </a>
                            <a href="/userPosts">
                                <button type="button" class="small-font  btn btn-sm btn-outline-primary">My Posts
                                </button>
                            </a>
                            <a href="/userPosts/comments">
                                <button type="button" class="small-font  btn btn-sm btn-outline-primary">My comments
                                </button>
                            </a>
                            <a href="/users/<%= currentUser.id %>">
                                <button type="button" class="small-font btn btn-sm btn-outline-primary">My Profile
                                </button>
                            </a>
                        </div>
                    </div>
                </ul>
            <% } %>
        </div>
    </div>
</nav>
<% include ../partials/flsh %>

<form action="/posts" method="GET" class="form-inline my-2 my-lg-0">
    <input id="tags" class="awesomplete form-control mr-sm-2 "
           name="search" type="text" placeholder="Search"
           data-list="">
    <button class="btn btn-primary my-2 my-sm-0" value="Search" type="submit"><i class="fas fa-search "></i></button>
</form>

</div>

</nav>



<div class="container-form bg-white p-0  mx-auto hover2 fadeInDown rounded">
    <table class="table table-borderless">
        <tr>
            <tbody class="p-0">
            <form id="" class="" action="/users/<%= user.id %>/imageEdit" method="POST" enctype="multipart/form-data" >
                <div class="text-center pt-2">
                    <h2 class="d-inline fadeIn second "> Change Image </h2>
                </div>

                <div class="card-body">
                    <div class="col-md-12 mx-auto ">

                        <div class=" form-group">
                            <i class="fa fa-2x fa-image text-right text-primary"><small> </small>
                                <small class=" pr-5 form-control-placeholder" style="font-family: 'Helvetica Neue',serif; font-size: .5em; color:black">
                                    <input type="file"  class="" name="image" accept="image/*" required>
                                </small>
                            </i>

                        </div>


                        <div class="form-group row mb-lg-n2">

                            <div class="text-center col-3 ml-n1">
                                <button id="sbmt" class=" btn btn-primary">submit</button>
                            </div>

                            <div class="d-inline text-center  col-2 mt-1 ">
                                <div id="loading" class="d-inline "></div>
                            </div>

                        </div>


                    </div>

                </div>
            </form>
            </tr>
            <tr class="bg-light ">
                <div class="back-grey text-decoration-none "></div>
            </tr>

            </tbody>
    </table>
</div>
<script>document.querySelector('title').innerText = "Edit My Image"</script>


<% include ../partials/footer %>