<% include ../partials/header %>

<form action="/posts" method="GET" class="form-inline my-2 my-lg-0">
    <input id="tags" class="awesomplete form-control mr-sm-2 "
           name="search" type="text" placeholder="Search"
           data-list="">
    <button class="btn btn-primary my-2 my-sm-0" value="Search" type="submit"><i class="fas fa-search "></i></button>
</form>

</div>

</nav>

<% include ../partials/flsh %>

<% if (typeof message != "undefined"){ %>
    <div class="container-message text-center flash ">
        <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
<% } %>

<div class="container-form bg-white p-0  mx-auto hover2 fadeInDown rounded">
    <table class="table table-borderless">
        <tr>
            <tbody class="p-0">
            <form id="" class="" action="/users/<%= user.id %>/imageEdit" method="POST" enctype="multipart/form-data" >
                <div class="text-center pt-2">
                    <h2 class="d-inline fadeIn second "> User Image </h2>
                </div>

                <div class="card-body">
                    <div class="col-md-12 mx-auto ">

                        <div class=" form-group">
                            <i class="fa fa-2x fa-image text-right text-primary"><small> </small>
                                <small class=" pr-5 form-control-placeholder" style="font-family: 'Helvetica Neue',serif; font-size: .5em; color:black">
                                    <input type="file"  class="" name="image" accept="image/*" required>
                                </small>
                            </i>

                        </div>


                        <div class="form-group row mb-lg-n2">

                            <div class="text-center col-3 ml-n1">
                                <button id="sbmt" class=" btn btn-primary">submit</button>
                            </div>

                            <div class="d-inline text-center  col-2 mt-1 ">
                                <div id="loading" class="d-inline "></div>
                            </div>

                        </div>


                    </div>

                </div>
            </form>
            </tr>
            <tr class="bg-light ">
                <div class="back-grey text-decoration-none "></div>
            </tr>

            </tbody>
    </table>
</div>


<% include ../partials/footer %>