<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>
        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
            <% if(!currentUser){ %>

        </div>
        <% } else { %>


            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                    <span class=" d-lg-inline-block mr-1">home</span>
                    <i class="fas fa-home "></i>
                </a>

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                    <span class=" d-lg-inline-block mr-1">new post</span>
                    <i class="fas fa-plus "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                    <span class=" d-lg-inline-block mr-1">my posts</span>
                    <i class="fas fa-file "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                    <span class=" d-lg-inline-block mr-1">my comments</span>
                    <i class="fas fa-comments "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                    <span class=" d-lg-inline-block mr-1">my profile</span>
                    <i class="fas fa-user "></i>
                </a>


                <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                    <span class="d-lg-inline-block ">Log out</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
    </div>
    <% } %>

</nav>
<!--end nav ----------------------------------------------------------------------------------------------------------->


<main class="page top-position ">

    <% if (typeof message != "undefined"){ %>
        <div class="container-message text-center flash" style="z-index: 2">
            <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <% } %>

    <div class="container-form m-auto shadow p-2">
        <div class="block-heading">
            <h2 id="header-form" class="text-info">Add a New Post</h2>
            Use the form below to add a new post
        </div>
        <form id="post_form" class="" action="/posts" method="POST" enctype="multipart/form-data">
            <h3 id="loading-message" class="text-center text-warning"></h3>
            <!--add a title-->
            <div class="form-group">
                <input type="text" id="title-for-post" class="form-control hover" name="post[name]" maxlength="30"
                       placeholder="title" required></div>
            <!--select image or video-->
            <div class=" form-group ">
                <label for="files" class="btn btn-outline-secondary btn-sm">
                    Image or Video<em>
                        <small> (up to 10MB)</small>
                    </em>
                </label>
                <small><span id="url" class="ml-2"></span></small>
                <input id='files' type="file" class="d-none" name="image" accept="image/*;video/*" required>
            </div>
            <!--text area for description-->
            <div class="hover form-group ">
                            <textarea type="text" id="desc" class="form-control" name="post[description]"
                                      cols="100"
                                      rows="3" required></textarea>
                <label class="form-control-placeholder" for="description">description</label>
            </div>

            <div class="form-group">
                <button id='btn' class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
            <!--gif loading-->
            <div id="loading" class="text-center "></div>
        </form>
    </div>

</main>
<!--do not display it in mobile formats-->

<footer class="hide-in-mobile page-footer dark position-absolute" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© 2019 by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>

<script>
    // show to the user that the image or video is required
    document.querySelector('#btn').addEventListener('click', (event) => {
        if (document.querySelector('#desc').value !== '' &&
            document.querySelector('#title-for-post').value !== '') {

            if (document.querySelector('#files').value === '') {
                alert('please enter an image or a video')
            } else {
                document.querySelector('#loading').innerHTML = '<i  class="fas fa-sync fa-spin text-secondary fa-lg">' +
                    '</i><br><p>please be patient this may take up to 45 seconds</p>';
            }
        }

    });
    // add the text of the selected file next to 'select image'
    document.querySelector('#files').addEventListener('change', (event) => {
        let url = document.querySelector('#files').value;
        document.querySelector('#url').innerHTML = url.substring(url.lastIndexOf('\\') + 1);
    });
</script>

<script>
    document.querySelector('title').innerText = "Add Post"
</script>
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>-->
<!--<script src="assets/js/smoothproducts.min.js"></script>-->
<!--<script src="assets/js/theme.js"></script>-->
<% include ../partials/footer %>
</body>
</html>